<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
    <div class="list">
        <div class="list__header">{{listTitle}}</div>
        <div class="list__sub-header">{{activeItems}} {{itemsCounter}}</div>
        <div class="edit-wrapper">
        <input type="text" class="list__edit-input" placeholder='Edit...' v-model="editMessage" v-if="changesDisplay">
</div>
        <ul class="list__items">
            <li class="list__item" v-for="(item, index) in items">{{index + 1}}. {{item.message}}
                <div class="buttons-wrapper">
                    <button class="list__edit-item" @click="editItem(index)">edit</button>
                    <div class="edit-buttons-wrapper" v-if="changesDisplay">
                        <button class="list__edit-button button-cancel" @click="cancelChanges">cancel changes</button>
                        <button class="list__edit-button button-save" @click="saveChanges(index)">save changes</button>
                    </div>
                <button class="list__delete-item" @click="deleteItem(index)">delete</button>
            </div>
            </li>
        </ul>
        <div class="list__input-block">
        <input type="text" class="list__name-input" placeholder='Enter your task here' v-model="userMessage">
        <!-- <textarea class="list__desc-input" placeholder="Desc"></textarea> -->
        <button class="list__new-item" @click="addItem">add</button>
    </div>
    </div>
</div>
    <script src='myScript.js'></script>
</body>
</html>